@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Montserrat" , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:15px;
  background:hsl(240, 78%, 98%);
}

.linear-gradient{
  background:linear-gradient(90deg, hsl(236, 72%, 79%) , hsl(237, 63%, 64%))
}

.btn:hover{
  background:rgba(254, 254, 254, 0.716);
  color:hsl(237, 63%, 64%)
}